.animated {
  animation-duration: .20s;
  animation-fill-mode: both;
}

.animated-long {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoom-enter {
  animation-name: zoom-in;
}

@keyframes zoom-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoom-leave {
  animation-name: zoom-out;
}

.zoom-enter-active {
  opacity: 1.0;
}

@keyframes bounce-in {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounce-enter {
  animation-name: bounce-in;
}

@keyframes bounce-out {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

.bounce-leave {
  animation-name: bounce-out;
}

.bounce-leave-active {
  opacity: 0;
  transform: scale3d(.3, .3, .3);
}


.bounce-enter-active {
  opacity: 1.0;
  transform: none;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-enter {
  animation-name: fade-in;
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fade-leave {
  animation-name: fade-out;
}

.fade-leave-active {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1.0;
}
