.animated {
  -webkit-animation-duration: 0.125s;
  animation-duration: 0.125s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

}

@-webkit-keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0.99;
  }
}

@keyframes zoom-enter {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0.99;
  }
}

.zoom-enter {
  -webkit-animation-name: zoom-enter;
  animation-name: zoom-enter;
}

.zoom-enter.zoom-enter-active {
  opacity: 1.0;
}

@-webkit-keyframes zoom-leave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.01;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes zoom-leave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.01;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

.zoom-leave {
  -webkit-animation-name: zoom-leave;
  animation-name: zoom-leave;
}

.zoom-leave.zoom-leave-active {
    opacity: 0;
}
