@import "materialize.scss";
@import "animation.scss";


@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

html {
  margin-top: 2rem;
  background: none repeat scroll 0% 0% #FCFCFC;
  font-family: "proxima-nova", "roboto", arial, sans-serif;
  font-weight: 400;
}

body {
  color: #212121;
}

i.socket {
  display: inline-block;
  cursor: pointer;
  font-size: 1.35rem;
  height: 1.5rem;
  font-family: "#{$font-mdi}";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;

  color: color("grey", "lighten-1");

  @include transition(opacity .20s ease);
  @extend .mdi-action-label-outline;

  &:hover, &.active {
    visibility: visible !important;
    opacity: 1 !important;
    transition-delay: 0s;
    color: color("grey", "darken-4");
    @extend .mdi-action-label;
  }
}

.truncate-80 {
    @extend .truncate;
    display: inline-block;
    width: 80%;
}

.socket-popup {
  position: absolute;
  z-index: 100;
  @extend .z-depth-3;
  @extend .no-select;
  background-color: white;
  width: 17em;

  ul {
    margin-top: 0;
  }

  ul > li.group {
    text-align: center;
    background-color: color("grey", "lighten-4");
    color: color("grey", "darken-1");
    font-size: 0.8rem;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 2rem;

    div.types {
      background-color: white;
      text-align: left;
      padding: 1em;
    }

    div.type {
      font-variant: none;
      text-transform: capitalize;
      margin-right: 1em;
      width: 5em;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: black !important;
      }
      i {
        font-size: 3em;
      }
    }
  }
}

.card {
  margin-bottom: 0rem;
  i {
    width: 1.25rem;
    cursor: pointer;
    margin-top: -1px;
    display: block;
    color: color("grey", "lighten-1");
    &:hover {
      color: color("grey", "darken-3");
    }
  }

  border: 1px solid rgba(0,0,0,0);
  @include transition(border .1s ease-in-out);
  &:hover {
    border: 1px solid color("grey", "lighten-1");
    .socket {
      opacity: 1;
    }
  }

  .socket {
    opacity: 0;
  }

  &.plate {
    > h1, > h2, > h3, > h4, > h5, > h6 {
      margin: 0;
      height: $collapsible-height;
      font-size: 15px;
      line-height: $collapsible-height;
      padding: 0 1rem;
      .title-edit {
        width: 80%;
      }
      .delete {
        &:hover {
          color: color("red", "darken-4") !important;
        }
      }
      i {
        &:first-of-type {
          margin-right: 0.75rem;
        }
      }

    }

    .card-content {
      border-top: 1px solid color("grey", "lighten-1");
      font-weight: 400;
      font-size: 13.5px;
      line-height: 20.25px;
    }

    .collapsed {
      display: none;
    }
  }
}

.app {
  &.popup-visible {
    i.socket {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s ease-in-out 0.1s, opacity 0.1s ease-in-out;
      cursor: default;
    }
  }
}


.undo-redo {
    position: fixed;
    bottom: 2em;
    left: 2em;
    opacity: 0.4;
    @include transition(opacity .1s ease-in-out);
    @extend .no-select;
    &:hover {
        opacity: 1;
    }
}
